parameters:
    autoload_files:
        - vendor/autoload.php
    level: 7
    paths:
        - src
        - tests
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
